.nav,
.under {
    background-color: #34495e
}

.footer a:hover,
.nav li a:hover {
    text-decoration: none
}

@font-face {
    font-family: Shift;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/shift.woff) format("woff")
}

@font-face {
    font-family: Shift;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/shift-bold.woff) format("woff")
}

.expand,
.nav *:not(a),
.shrink {
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

a,
h3,
h4,
html p {
    font-family: 'Open Sans', sans-serif
}

.under {
    height: 112px;
    margin-bottom: -112px
}

@media (max-width:768px) {
    .nav.mobile {
        height: 54px!important
    }
    .nav.mobile img {
        transform: scale(.5)!important;
        margin-top: -31px
    }
    .nav.mobile ul {
        margin-top: 1px!important
    }
}

.nav.expand {
    height: 112px
}

.nav.shrink {
    height: 55px;
    opacity: 1
}

.navbar-collapse.in {
    overflow-y: visible
}

.nav img {
    width: 75%
}

.nav.expand img {
    transform: scale(1)
}

.nav.shrink img {
    transform: scale(.5);
    margin-top: -31px
}

.nav a {
    color: #fff;
    font-size: 15px;
    padding: 14px 15px;
    text-transform: uppercase;
    font-weight: 700
}

.nav ul {
    margin-bottom: -10px
}

.nav.expand ul {
    margin-top: 45px
}

.nav.shrink ul {
    margin-top: 1px
}

.nav li {
    display: inline
}

.nav li a:hover {
    background-color: transparent;
    color: #BDC3C7;
    border-bottom: solid 3px #5E84AA
}

.nav .active a {
    color: #BDC3C7;
    border-bottom: solid 3px #5E84AA
}

.icon-bar {
    background-color: #fff
}

.navbar-toggle {
    margin-top: 60px;
    background-color: #BDC3C7;
    border: 1px solid #000
}

@media (min-width:768px) {
    .navbar-toggle.expand {
        margin-top: 60px
    }
}

.navbar-toggle.shrink {
    margin-top: 10px
}

@media (max-width:768px) {
    .navbar-toggle {
        margin-top: 10px
    }
}

.footer {
    background-color: #34495e;
    padding: 50px 0 25px
}

.footer .col-md-4 {
    padding-left: 85px
}

.footer .row div:nth-child(2) {
    padding-left: 30px
}

.footer li {
    list-style-type: none;
    padding: 5px 0;
    margin-left: -30px
}

.footer ul {
    display: block;
    padding-left: 30px
}

.footer h3 {
    color: #fff;
    opacity: 1;
    font-family: Shift, sans-serif;
    font-weight: 700;
    margin-bottom: 10px
}

.footer p,
a {
    color: #BDC3C7
}

.footer .container {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px
}

.footer .copyright {
    margin-top: 10px;
    text-align: center
}

.footer .copyright p {
    margin-top: 17px;
    margin-bottom: -8px
}

@media (max-width:992px) {
    .nav.navbar-fixed-top {
        height: 54px!important
    }
    .nav .active a{
      border-bottom: 0!important;
    }
    .nav li a:hover {
      border-bottom: 0!important;
    }
    .nav img {
        transform: scale(.5)!important;
        margin-top: -31px!important
    }
    .nav ul {
        margin-top: 1px!important;
        border-bottom: 1px solid #000
    }
    .navbar-brand {
        padding: 14px 0!important;
        margin-left: -30px!important
    }
    .content .container,
    .footer .col-md-4 {
        padding-left: 0!important;
        padding-right: 0!important
    }
    .navbar-toggle {
        margin-top: 10px!important
    }
    .li-border {
        width: 93%;
        border-top: 1px solid #BDC3C7;
        margin: 0 auto;
        visibility: visible
    }
    .title {
        padding-top: 0!important;
        padding-bottom: 0!important;
        height: 108px!important
    }
    .title h3 {
        margin-top: 68px!important
    }
    .footer {
        padding: 0!important
    }
    .footer .row div:nth-child(2) {
        margin-top: 225px!important
    }
    .footer .row div:first-child {
        margin-top: 35px!important
    }
    .footer .row div:last-child {
        margin-bottom: 25px!important;
        margin-top: 40px!important
    }
    .footer .col-md-4 {
        margin-left: 35px;
        margin-right: 35px
    }
    .footer .copyright {
        padding: 0 10px 20px
    }
}

.nav.expand {
    opacity: 1!important
}

.nav.navbar-fixed-top {
    border-bottom: 1px solid #000
}

.title {
    padding-top: 112px;
    margin-bottom: 0;
    background-color: #f2f2f2;
    padding-bottom: 40px;
    border-bottom: 1px solid #dbdbdb
}

.title h3 {
    color: #404040;
    margin-top: 37px;
    margin-bottom: -3px
}

.content {
    padding: 40px;
    opacity: 0
}

.content h4 button {
    background: 0 0;
    border: none;
    padding-left: 1px;
    padding-right: 1px;
    outline: 0
}

.thumbnail:hover {
    border: 1px solid grey
}

.thumbnail img {
    width: 100%
}

.socialmedia {
    margin-top: 50px
}

.socialmedia a img {
    width: 50px
}