@media (max-width: 992px) {

  .nav.navbar-fixed-top {
    height: 54px!important;
  }

  .nav img{
    transform: scale(0.5)!important;
    margin-top: -31px!important;
  }

  .nav ul{
    margin-top: 1px!important;
    border-bottom: 1px solid black;
  }

  .navbar-brand {
    padding: 14px 0px!important;
    margin-left: -30px!important;
  }

  .navbar-toggle {
    margin-top: 10px!important;
  }

  .li-border {
    width: 93%;
    border-top: 1px solid #BDC3C7;
    margin: 0 auto;
    visibility: visible;
  }

	.title {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
		height: 108px!important;
	}

  .title h3 {
		margin-top: 68px!important;
	}

  .content .container {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .content .container ul{
    margin-left: -35px;
  }
	
  .content .colours {
    margin-left: -10px;
  }

	.footer {
    padding: 0!important;
  }

  .footer .row div:nth-child(2) {
    margin-top: 225px!important;
  }

  .footer .row div:first-child {
    margin-top: 35px!important;
  }

  .footer .row div:last-child {
    margin-bottom: 25px!important;
    margin-top: 40px!important;
  }

  .footer .col-md-4 {
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 35px;
    margin-right: 35px;
  }

  .footer .copyright {
    padding: 0 10px 20px;
  }
}

.nav.expand {
  opacity: 1!important;
}

.nav.navbar-fixed-top {
  border-bottom: 1px solid black;
}

.title {
	padding-top: 112px;
 	margin-bottom: 0;
 	background-color: #f2f2f2;
 	padding-bottom: 40px;
 	border-bottom: 1px solid #dbdbdb;
}

.title h3 {
	color: #404040;
	opacity: 1;
	margin-top: 37px;
  margin-bottom: -3px;
}

.content {
	padding: 40px;
}

.content img {
	border: 1px solid black;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.content p {
	text-align: center;
	opacity: 0;
}

.content li{
	opacity: 0;
	font-size: 16px;
}

.content h4{
	margin-top: 60px;
	font-weight: bold;
	opacity: 0;
}

.colours .row {
	margin: 15px 0px 0px;
}

.colours .row .col-md-1 div {
	height: 106px;
	width: 70px;
	border: 1px solid black;
	margin-left: -4px;
	opacity: 0;
}

.socialmedia {
  margin-top: 50px;
}

.socialmedia a img {
  width: 50px;
}